<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2016 <a href="https://github.com/clayton13">Clayton White</a>
        	<a class="pull-right" href="/privacy">Privacy</a></p>
    </div>
</footer>
