<div class="btn btn-default btnNickname" data-value="<%= nickname %>" data-orig="<%= nickname %>" data-toggle="tooltip" data-placement="top" title="Double click to edit nickname">
    <input type="checkbox" name="fruit" id="apple" value="apple">
    <span class="nickname"><%= nickname %></span>
    <div class="popbox inner-addon right-addon" style="display: none;">
        <input id="me" type="text" class="inlineinput" placeholder="Nickname" maxlength="30" />
        <i class="glyphicon glyphicon-remove"></i>
    </div>
</div>
