<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <!-- content for about page -->
        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">About Page</h2>
                    <div class="col-xs-12">
                        <p>Hi,<br>Thanks for the interest. I am currently working on other importants aspects of this website and backend application. I will add more infomation here in the future.</p>
                    </div>

            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>