<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>Canvas Skill</h1>
                <p>Get Your Grades with Your Voice</p>
            </div>
        </section>

        <div class="container">
            <h2 class="text-center">What is it?</h2>
             <p>Integrating Your Grades with Amazon Alexa</p>
            <p>This is an addon for Amazon Alexa that allows you to connect your Instrucuture Canvas gradebook to Alexa. All grades and information is pulled in real time though Canvas itself. It remains totally secure and supported by both parties though HTTPS and OAUTH 2.0. 
        </div>

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>